body{
    font-family: 'Prompt', sans-serif;
}
h1{
    font-size: 65px;
    color: #504d4d;
}
.half-width{
    width: 50%;
    margin: 20px 40px;
}
.intro p{
    color: #8f8b8b;
}
.half-width img{
    width: 90%;
}
.flexible-container{
    display: flex;
}
.orange-color{
    color: #ff7300;
}
.button{
    
}
